body {
  margin: 0;
  padding: 0;
  height: 100vh;

}
.box {
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
 border: 1px solid #777;
  height: 6vh;
  font-size: 18px;
  line-height: 6vh;
}
.border:hover {
  border: 4px solid #777;
}


