body {
  margin: 0;
  padding: 0;
  height: 100vh;

}
.box {
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
 border: 1px solid #777;
  height: 6vh;
  font-size: 18px;
  line-height: 6vh;
}
.box:hover {
  color: red;
  font-size: 21px;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}


