<div class="box">
  <button *ngIf="!hasRoom" mat-raised-button color="primary" (click)="onCreateRoom()">
    Create Room
  </button>
  <button mat-raised-button color="primary" (click)="onInvitePlayer(shoes.selectedOptions.selected[0]?.value)">
    Invite player
  </button>
  <button mat-raised-button (click)="closeRooms()">Close</button>
</div>

<mat-selection-list #shoes [multiple]="false">
  <mat-list-option *ngFor="let room of rooms" [value]="room?.roomUid">
    <div class="box">
      <app-player-card [player]="room?.host"></app-player-card>
      <app-player-card [player]="room?.guest"></app-player-card>
      <div>
        ROOM UID {{ room.roomUid }}
        <button mat-button color="primary" (click)="onJoinRoom(room?.roomUid)">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="room?.roomUid === userRoomUid" mat-button color="primary" (click)="onDeleteRoom(room?.roomUid)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list-option>
</mat-selection-list>