.periodicTable {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(11, 1fr);
  margin: 0 2%;
}

.find {
  grid-column: 7/10;
  grid-row: 1/3;
  font-size: 40px;
  text-align: center;
  background-color: lightskyblue;
  border: 2px solid blue;
  height: 60px;
  line-height: 60px;
  border-radius: 20px;
  box-shadow: 0 0 0 3px white, 0 0 0 6px blue;
}

.box {
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  border: 1px solid #777;
  height: 6vh;
  line-height: 6vh;
  font-size: 18px;
}
.box:hover {
  cursor: pointer;
}
@media (max-width: 840px) {
  .box {
    font-size: 12px;
  }
}
@media (max-width: 840px) {
  .box:hover {
    font-size: 14px;
  }
}

.element-H {
  color: rgb(153, 0, 0);
  background-color: rgb(236, 185, 43);
}

.element-C {
  color: rgb(153, 0, 0);
  background-color: #22ff22;
}
.element-H {
  grid-column: 1/2;
  grid-row: 1/2;
}
.element-He,
.element-Ne,
.element-Ar,
.element-Kr,
.element-Xe,
.element-Rn {
  background-color: #77ccff;
  color: rgb(153, 0, 0);
}
.element-He {
  grid-column: 18/19;
  grid-row: 1/2;
}
.element-Li,
.element-Na,
.element-K,
.element-Rb,
.element-Cs,
.element-Fr {
  grid-column: 1/2;
  background-color: #ffcc33;
}
.element-Be,
.element-Mg,
.element-Ca,
.element-Sr,
.element-Ba,
.element-Ra {
  background-color: #ffff44;
  grid-column: 2/3;
}
.element-Sc,
.element-Y {
  grid-column: 3/4;
}
.element-Ti,
.element-Zr,
.element-Hf,
.element-Rf,
.element-La,
.element-Ac {
  grid-column: 4/5;
}
.element-V,
.element-Nb,
.element-Ta,
.element-Db,
.element-Ce,
.element-Th {
  grid-column: 5/6;
}
.element-Cr,
.element-Mo,
.element-W,
.element-Sg,
.element-Pr,
.element-Pa {
  grid-column: 6/7;
}
.element-Mn,
.element-Tc,
.element-Re,
.element-Bh,
.element-Nd,
.element-U {
  grid-column: 7/8;
}
.element-Fe,
.element-Ru,
.element-Os,
.element-Hs,
.element-Pm,
.element-Np {
  grid-column: 8/9;
}
.element-Co,
.element-Rh,
.element-Ir,
.element-Mt,
.element-Sm,
.element-Pu {
  grid-column: 9/10;
}
.element-Ni,
.element-Pd,
.element-Pt,
.element-Ds,
.element-Eu,
.element-Am {
  grid-column: 10/11;
}
.element-Cu,
.element-Ag,
.element-Au,
.element-Rg,
.element-Gd,
.element-Cm {
  grid-column: 11/12;
}
.element-Zn,
.element-Cd,
.element-Hg,
.element-Cn,
.element-Tb,
.element-Bk {
  grid-column: 12/13;
}
.element-B,
.element-Al,
.element-Ga,
.element-In,
.element-Tl,
.element-Nh,
.element-Dy,
.element-Cf {
  grid-column: 13/14;
}
.element-C,
.element-Si,
.element-Ge,
.element-Sn,
.element-Pb,
.element-Fl,
.element-Ho,
.element-Es {
  grid-column: 14/15;
}
.element-N,
.element-P,
.element-As,
.element-Sb,
.element-Bi,
.element-Mc,
.element-Er,
.element-Fm {
  grid-column: 15/16;
}
.element-O,
.element-S,
.element-Se,
.element-Te,
.element-Po,
.element-Lv,
.element-Tm,
.element-Md {
  grid-column: 16/17;
}
.element-F,
.element-Cl,
.element-Br,
.element-I,
.element-At,
.element-Ts,
.element-Yb,
.element-No {
  grid-column: 17/18;
}
.element-Ne,
.element-Ar,
.element-Kr,
.element-Xe,
.element-Rn,
.element-Og,
.element-Lu,
.element-Lr {
  grid-column: 18/19;
}

.element-Li,
.element-Be,
.element-B,
.element-C,
.element-N,
.element-O,
.element-F,
.element-Ne {
  grid-row: 2/3;
}

.element-Na,
.element-Mg,
.element-Al,
.element-Si,
.element-P,
.element-S,
.element-Cl,
.element-Ar {
  grid-row: 3/4;
}

.element-K,
.element-Ca,
.element-Ga,
.element-Ge,
.element-As,
.element-Se,
.element-Br,
.element-Kr,
.element-Sc,
.element-Ti,
.element-V,
.element-Cr,
.element-Mn,
.element-Fe,
.element-Co,
.element-Ni,
.element-Cu,
.element-Zn {
  grid-row: 4/5;
}
.element-Rb,
.element-Sr,
.element-In,
.element-Sn,
.element-Sb,
.element-Te,
.element-I,
.element-Xe,
.element-Y,
.element-Zr,
.element-Nb,
.element-Mo,
.element-Tc,
.element-Ru,
.element-Rh,
.element-Pd,
.element-Ag,
.element-Cd {
  grid-row: 5/6;
}
.element-Cs,
.element-Ba,
.element-Tl,
.element-Pb,
.element-Bi,
.element-Po,
.element-At,
.element-Rn,
.element-Hf,
.element-Ta,
.element-W,
.element-Re,
.element-Os,
.element-Ir,
.element-Pt,
.element-Au,
.element-Hg {
  grid-row: 6/7;
}
.element-Fr,
.element-Ra,
.element-Nh,
.element-Fl,
.element-Mc,
.element-Lv,
.element-Ts,
.element-Og,
.element-Rf,
.element-Db,
.element-Sg,
.element-Bh,
.element-Hs,
.element-Mt,
.element-Ds,
.element-Rg,
.element-Cn {
  grid-row: 7/8;
}
.element-La,
.element-Ce,
.element-Pr,
.element-Nd,
.element-Pm,
.element-Sm,
.element-Eu,
.element-Gd,
.element-Tb,
.element-Dy,
.element-Ho,
.element-Er,
.element-Tm,
.element-Yb,
.element-Lu {
  grid-row: 9/10;
}
.element-Ac,
.element-Th,
.element-Pa,
.element-U,
.element-Np,
.element-Pu,
.element-Am,
.element-Cm,
.element-Bk,
.element-Cf,
.element-Es,
.element-Fm,
.element-Md,
.element-No,
.element-Lr {
  grid-row: 10/11;
}

.element-B,
.element-Si,
.element-Ge,
.element-As,
.element-Sb,
.element-Te,
.element-At {
  background-color: #77dd88;
}
.element-C,
.element-N,
.element-O,
.element-F,
.element-P,
.element-S,
.element-Cl,
.element-Se,
.element-Br,
.element-I {
  background-color: #22ff22;
  color: rgb(153, 0, 0);
}
.element-Al,
.element-Ga,
.element-In,
.element-Sn,
.element-Tl,
.element-Pb,
.element-Bi,
.element-Po,
.element-Fl {
  background-color: rgb(153, 221, 204);
}
.element-Nh,
.element-Mc,
.element-Lv,
.element-Ts,
.element-Og,
.element-Mt,
.element-Ds,
.element-Rg {
  background-color: lightgrey;
}
.element-Sc,
.element-Y,
.element-Ti,
.element-Zr,
.element-Hf,
.element-Rf,
.element-V,
.element-Nb,
.element-Ta,
.element-Db,
.element-Cr,
.element-Mo,
.element-W,
.element-Sg,
.element-Mn,
.element-Tc,
.element-Re,
.element-Bh,
.element-Fe,
.element-Ru,
.element-Os,
.element-Hs,
.element-Co,
.element-Rh,
.element-Ir,
.element-Pt,
.element-Pd,
.element-Ni,
.element-Cu,
.element-Ag,
.element-Au,
.element-Zn,
.element-Cd,
.element-Hg,
.element-Cn {
  background-color: rgb(221, 187, 187);
}
.element-La,
.element-Ce,
.element-Pr,
.element-Nd,
.element-Pm,
.element-Sm,
.element-Eu,
.element-Gd,
.element-Tb,
.element-Dy,
.element-Ho,
.element-Er,
.element-Tm,
.element-Yb,
.element-Lu {
  background-color: rgb(255, 187, 153);
}
.element-Ac,
.element-Th,
.element-Pa,
.element-U,
.element-Np,
.element-Pu,
.element-Am,
.element-Cm,
.element-Bk,
.element-Cf,
.element-Es,
.element-Fm,
.element-Md,
.element-No,
.element-Lr {
  background-color: rgb(238, 187, 221);
}

.element-Rf,
.element-Db,
.element-Sg,
.element-Bh,
.element-Hs,
.element-Mt,
.element-Ds,
.element-Rg,
.element-Cn,
.element-Fl,
.element-Nh,
.element-Mc,
.element-Lv,
.element-Ts,
.element-Og {
  color: rgb(102, 119, 102);
}
.element-Hg {
  color: rgb(0, 0, 221);
}
