.bar {
    height: 4px;
    width: 100%;

    .mdc-linear-progress__bar-inner {
        border-color: green
    }

    .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
        background-color: red;
    }
}

 
