<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!!
    {{ symbol }}
  </h1>
  <button *ngIf="!state.start" type="button" (click)="startGame()">
    {{ state.start ? "START GAME" : "TRY AGAIN" }}
  </button>
</div>

<p>YOUR THE BEST SCORE IS: {{ state.bestScore }}</p>

<div class="periodicTable">
  <app-element
    *ngFor="let element of table"
    class="{{ 'element-' + element.symbol }}"
    [element]="element"
    (selected)="handleSelected($event)"
  >
  </app-element>
</div>

<!-- <button (click)="storeToDB()">Store to DB</button> -->

<div *ngIf="state.start">
  <app-score [(counter)]="state.score"></app-score>
  <app-find [level$]="level$"></app-find>
  <app-progress-bar
    (finish)="handleFinish($event)"
    [reset$]="level$"
  ></app-progress-bar>
</div>
