.players {
  display: flex;
  justify-content: space-evenly;
}

mat-drawer {
  width: 100vh;
}

.text h1 {
  text-align: center;
  color: lightslategray;
}
p {
  color: lightslategray;
  font-size: 20px;
  margin-left: 2%;
  font-weight: bold;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@media (max-width: 1200px) {
  .find {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 840px) {
  .find {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
  }
  button,
  p,
  button:hover {
    font-size: 14px;
  }
  button {
    padding: 0;
  }
}
