<div class="menu">

   <button *ngIf="!isLogin" mat-raised-button color="primary" (click)="onSignIn()"> 
    <mat-icon>login</mat-icon>
    Sign In
  </button>
  <ng-content select=[loggedUser]></ng-content>

  <button *ngIf="!isStartGame else: showElement"   mat-raised-button  color="accent" (click)="onStartGame()">
    Start Game
  </button>
  
  
  <button *ngIf="showInvite else opponent" mat-raised-button color="primary" (click)="onInvite()"> 
    <mat-icon>share</mat-icon>
    Invite
  </button>
  
</div>


<ng-template #showElement>
  <div class="find">{{ searchingElement }}</div>
</ng-template>

<ng-template #opponent>
  <ng-content select=[opponentUser]></ng-content>

</ng-template>